// Variables SCSS :

$gray-950: #0a0a0a; // équivalent Tailwind bg-gray-950
$gray-100: #f3f4f6; // équivalent Tailwind text-gray-100
$primary-color: #1E3A8A;   
$secondary-color: #2563EB; 
$font-nav: 'Inter', 'sans-serif';



